/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/theming";

$custom-typography:
mat-typography-config(
  $font-family:'Exo'
);
body{
  background-color: blanchedalmond;
  margin: 0;
  pm-root*{
    font-family: 'Exo',sans-serif;
  }
}
.left-spacer{
  margin-left: 2%;
}
